@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /*FONTE GOOGLE FONT*/
@font-face {
    font-family:'vogue' ;
    src: url('..//fontes/vogue/Vogue.ttf') format('truetype');
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1:#D4594A;
    --cor2:#C6210B;
    --cor3:black;
    --cor4:darkred;

    --fonte-padrao:Arial,verdana,;
    --fonte-destaque:"Roboto Condensed", sans-serif;
    --fonte-vogue:'vogue';
}
body{
    background: linear-gradient(to bottom,rgb(0,0,0,0),rgba(0,0,0.4)),url(../imagens/Nova_Camisa_Flamengo.png);/*colocando um degrade no fundo do corpo do site*/
    margin: 0;
    font-family: var(--fonte-padrao);
    
}
header{
    background-image: linear-gradient(to bottom,var(--cor4),var(--cor3));
    padding: 30px;
    text-align: center;
}
header>h1{
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 3em;
    background-image: url(../imagens/bandeira-animada-fla1.gif);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;

}
header>p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
nav{
    background-color: var(--cor3);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    transition: 1.5s;
}
nav>a{
    text-decoration: none;
    color:white;
    margin: 20px;
   
    padding: 5px;
    font-size: 1em;
    
}
nav >a:hover{
    background-color: var(--cor4);
   text-shadow: 0px 0px 8px rgb(255, 158, 47),
                    0px 0px 12px rgb(255, 206, 47),
                    0px 0px 16px rgb(255, 189, 47);
                    border-radius: 5px;
}
main{
    max-width: 1000px;
    min-width: 450px;
    margin: auto;
    text-align: center;
    backdrop-filter: blur(10px);
    background: transparent; /* fundo do selection*/
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.623);

}
main h1{
    font-size: 25px;
    line-height: 2em;
    background-image: linear-gradient(to right,var(--cor2),var(--cor3),transparent);
    color: white;
    border-radius: 0px 0px 10px 10px;
    font-family: var(--fonte-vogue);
}
main p{
    text-align:justify ;
    
    text-align: center;
    color: rgb(238, 228, 228);

}
main img{
    border-radius: 10px;
    
    padding: 5px;
}
img.preto-branco{
    filter: hue-rotate(10deg);
}
main h2{
    line-height: 2em;
    background-image: linear-gradient(to right,var(--cor2),var(--cor3),transparent);
    color: white;
    font-family: var(--fonte-vogue);
    
}
main h3{
    font-size: 15px;
    font-family: var(--fonte-vogue); 
    background-image: linear-gradient(to right,var(--cor2),var(--cor3),transparent);
    color: beige;
}
.Jogadores{
    max-width: 800px;
    min-height: 450px;
    background-color: white;
    height: 200px;
    margin: auto;
    border-radius: 1px 1px 1px 1px;
    padding: 10px;
    animation: slider 15s linear infinite;

}


@keyframes slider{
    0% {
        background-image: url(../imagens/everton-ribeiro-flamengo-x-internacional-maracana.jpg);
    }
    20% {
        background-image: url(../imagens/Bruno_Henrique.png);
    }
    30% {
        background-image: url(../imagens/1_52172809071_a099679f3c_k-25943698.jpg);
    }
    60%{
        background-image: url(../imagens/giogian.jpg);
    }
    80% {
        background-image: url(../imagens/rodrigo-caio-marca-guerrero-na-partida-entre-flamengo-e-internacional-pela-libertadores-1566568371791_v2_900x506.jpg);
    }
    100% {
        background-image: url(../imagens/flamengo_tri_libertadores.png);
    }
}

.titulos{
    max-width: 800px;
    min-width:450px ;
    height: 400px;
    background-color: white;
    margin: auto;
    padding: 10px;
    animation: titulos 15s linear infinite;
}
@keyframes titulos{
    0% {
        background-image: url(../imagens/GettyImages-1434900522-e1692290412701.jpg);
    }
    30% {
        background-image: url(../imagens/Gerson-segurando-a-taca-do-Campeonato-Brasileiro-de-2020.jpg);
    }
    60% {
        background-image: url(../imagens/recopa.jpg);
    }
    80%{
        background-image: url(../imagens/flamengo_campeao_supercopa.jpg);
    }
    100% {
        background-image: url(../imagens/whatsapp-image-2020-03-03-at-12.00.04.jpg);
    }
}
main ul{
    list-style-position: inside;
    text-align: center;
    
    padding: 10px;

}
main li{
    color: white;
    
}
footer{
    text-align: center;
    color: white;

}
footer a{
    text-decoration: none;
    color: rgb(6, 104, 252);
    font-size: 20PX;

}
footer a::after{
    content: '\1F517';
}
footer img{
    width: 300px;
    
}
div.amigos{
    display: inline;
    padding: 10px;
    margin: 10px;
}
